#footer {
  clear: both;
  position: relative;
  margin-top: 400px;
  background:rgb(241, 241, 241);
  padding: 20px;
  color:#DFEEF5;
  text-align: center;
}
.footer {
  display: inline-block;
}
.footer a {
  color: rgb(189, 189, 189);
  padding: 10px;
  margin-left: 24px; 
  font-size: 20px;
}
.footer a:hover {
  color: rgb(139, 139, 139);
}
@media (max-width:1000px) {
  #footer{max-width:950px;}
}
@media (max-width:800px) {
  .footer{display:block; width:90%; margin:0 auto;}
}
