a {
    text-decoration: none;
}
.job-detail-title {
    margin-top: 45px;
    text-align: center;
}
.job-detail-title a {
    color: #225b86;
}
.job-info {
    padding: 6px 14px;
}
.job-info span {
    padding: 5px;
}
.job-desc {
    -webkit-font-smoothing: antialiased;
    font-family: "Avenir Next", sans-serif !important;
}
.modal-header {
    /* position: fixed; */
    /* background-color: #fdfdfd; */
    padding: 14px;
    border-bottom: 2px solid rgb(189, 77, 77);
}
.modal-body {
    overflow-y: scroll;
    padding: 14px;
    max-height: 400px;
}

.apply-btn {
    color: rgb(243, 243, 243);
    float: center;
    width: 200px;
    border-radius: 5px;
    background-color: #4182e4;
    padding: 12px 30px;
    position: relative;
    left: 43%;
}
.apply-btn:hover {
    background-color: #236edf;
}
.job-info {
    display: block;
}
.empty-jobs {
    text-align: center;
    margin-top: 100px;
    font-size: 22px;
}
